.header__subtitle {
  position: absolute;
  margin-bottom: 18px;
  left: 64px;
  max-width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  z-index: 2;
  color: #000;
}
