.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
}
.logo {
  width: 228px;
  height: 32px;
  background-repeat: no-repeat;
}
.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  margin-left: 64px;
  margin-top: 30px;
  position: absolute;
  z-index: 2;
}
.header__title {
  max-width: 730px;
  line-height:96px;
  font-size: 102px;
  font-weight: 600px;
  z-index: 2;
  margin-left: 64px;
  color: #000;
}
.header__subtitle {
  position: absolute;
  margin-bottom: 18px;
  left: 64px;
  max-width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  z-index: 2;
  color: #000;
  padding: 0;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__link:hover {
  opacity: .5;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  background-size: cover;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  position: absolute;
  background-color: #2f80ed;
}
.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  min-width: 784px;
}
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  color: #2f80ed;
  font-size: 18px;
  font-weight: 400;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  color: #000;
}
.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
.two-columns__span-accent {
  font-weight: 600;
}
.digits {
  padding: 100px 0;
  text-align: center;
}
.section-title {
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin-bottom: 20px;
}
.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}
.table {
  width: 1100px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  list-style-type: none;
  padding: 100px 0;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}
.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
.feynman {
  background: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  background-position-y: bottom;
}
.feynman__title {
  margin: 0 auto 70px auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
.feynman__link {
  color: #2f80ed;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
  opacity: 1;
  text-decoration: none;
}
.feynman__link:hover {
  opacity: .5;
}
.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.kaufman__triangle {
  background: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: 877px 877px;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: -1;
}
.section-title_theme_dark {
  width: 60%;
  color: #f2f2f2;
}
.section-subtitle_theme_dark {
  width: 60%;
  color: #f2f2f2;
}
.table__cell_theme_dark {
  color: #f2f2f2;
  width: 200px;
  margin-top: 80px;
}
.table__heading_theme_dark {
  color: #f2f2f2;
  font-size: 24px;
  line-height: 1.15;
  width: 600;
}
.table__text_theme_dark {
  color: #f2f2f2;
  font-size: 18px;
  line-height: 1.2;
  width: normal;
}
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color:#f2f2f2;
  padding: 60px 0 40px 0;
  display: flex;
  box-sizing: border-box;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__columns {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}
.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  width: 228px;
  height: 32px;
  z-index: 2;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 18px 0;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  list-style-type: none;
}
.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
}
.footer__column-link:hover {
  opacity: .5;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

